body{
    background-color: #0f121f;
    background-image: url(/static/nestTree.jpeg);
    background-size: 100%;
    background-repeat-y: no-repeat;
    color: #fff;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

div.wrapper h1{
  text-align: center;
  margin: auto;
  font-size: 40px;
}

div.article{
  background-color: black;
  margin-bottom: 35px;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding 10px 0;
}

nav{
  justify-self: end;

}

nav li{
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  border: 1px solid white;

}

nav button{
  background: none;
  color: #fff;
  cursor:pointer;
  border: 1px solid white;;

  font-size: 20px;
}

.articles {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.article{
  padding: 10px;
  border: 1px solid white;
  position: relative;
  padding-bottom: 40px
}

.article h2{
  font-size: 45px:
}

.article .author{
  padding:10px;
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
.article-detail .article{
  padding: 0;
}
.article-detail .article img{
    display: block;
   margin-left: auto;
   margin-right: auto;
  max-width: 100%;

}
.article-detail .article h2{
  text-align: center;
  margin: 20px auto;
  font-size: 35px
}

.article-detail .article p{
  text-align: center;
  font-size: 20px;
}

.site-form{
  margin-top: auto;
  border: 1px solid white;
  padding: 20px;
}

.site-form input, .site-form textarea{
  display: block;
  margin: 20px 0 0 0;
  padding: 20px;
}
a.highlight{
  padding: 15px;
  border-radius: 4px;
}

.helptext, .helptext ul{
  margin: 0 auto 20px;
  font-size: 20px;
  display: block;

}

.errorlist li{
  padding: 10px
  list-style-type: none;
  border: 1px solid #ff5722;
  color: #ff5722;
  margin: 10px 0;
}
.errorlist{
  padding: 0;
}

.site-form input[type="submit"]{
  background:white;
  border: 0;
  color: black;
  font-size: 15px;
  border-radius: 4px;
  margin: 10px 0;
}
